@charset "utf-8";
@import url("https://fonts.googleapis.com/css?family=Poiret+One");
@import url("https://fonts.googleapis.com/earlyaccess/roundedmplus1c.css");

/* common */

body {
	/* 【English】Specify an arbitrary background color or background image.
	   【日本語】任意の背景色/背景画像を指定してください。 */
	/*background-color: #fff;*/
	background-image: url("img/sample.jpg");
	background-size: cover;
	color: #000;
	font-family: "Poiret One", "Rounded Mplus 1c", cursive;
	font-size: 22px;
	font-weight: 100;
}

a {
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	color: #000;
	cursor: pointer;
	display: block;
	margin: 30px auto 0;
	text-align: center;
	text-decoration: none;
	user-select: none;
	width: 100px;
}

ul {
	list-style: none;
	margin:0;
	padding: 0;
}

p {
	font-size:22px;
	margin-top: 20px;
	text-align: center;
}

img {
	display: block;
	margin: 30px auto 5px;
}

/* menu */

a#link1 {
	background: #75d16a;
	border-radius: 0%;
	height: 100px;
	line-height: 100px;
}

a#link1:hover {
	transform: rotate(-3deg);
}

a#link2 {
	background: #6ca1e8;
	border-radius: 100%;
	height: 100px;
	line-height: 100px;
}

a#link2:hover {
	height: 97px;
	line-height: 97px;
	margin-top: 33px;
	width: 97px;
}

a#link3 {
	background: #ffccff;
	border-radius: 0%;
	height: 50px;
	line-height: 50px;
}

a#link3:hover {
	width: 110px;
}

a#link4 {
	background: #fa0;
	border-radius: 0%;
	height: 125px;
	line-height: 125px;
}

a#link4:hover {
	height: 115px;
	line-height: 115px;
	margin-top: 40px;
}

a#link5 {
	background: #ff7;
	border-radius: 0%;
	height: 60px;
	line-height: 60px;
}

a#link5:hover {
	transform: rotate(3deg);
}
